<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IEGDB" connectionString="Provider=SQLOLEDB;Data Source=.\SQLEXPRESS;User ID=sa;Password=cimc_1234;Initial Catalog=db_6132LZ"
            providerName="System.Data.OleDb" /> 
    <add name="IEGDBHome" connectionString="Provider=SQLOLEDB;Data Source=KEN-PC\MSSQLEXPRESS;User ID=sa;Password=;Initial Catalog=IEG_LZ"
            providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="Logpath" value="IEGLog"/>
    <add key="lpath" value="EveryLog"/>
    <add key="CacheDuration" value="0.1"/>
    <add key="MaxGetCarNumber" value="6"/>
    <add key="Eqplist" value="1,2"/>
    <add key="Halllst" value="11,12,13,14"/>
    <add key="biganTime" value="08:00:00"/>
    <add key="endTime" value="20:00:00"/>
    <add key="ChargeEnable" value="0"/>
  </appSettings>
  <system.web>
    <sessionState />
    <roleManager />
    <membership />
    <identity />
    <authentication />
    <compilation debug="true"/>
  </system.web>
</configuration>
